/* body {
    font-family: "Comic Sans MS", cursive, sans-serif;
  }
  
  p {
    font-size: 3em;
  }
  
  .eye {
    background-color: blue;
    width: 30%;
    height: 30%;
    border-radius: 50%;
  }
  
  .arm {
    background-color: #cacaca;
    position: absolute;
    top: 35%;
    width: 5%;
    height: 40%;
  }
  
  #head {
    width: 30%;
    height: 30%;
    border-radius: 15%;
    background-color: #dadada;
    position: absolute;
    left: 33%;
    top: 5%;
  }
  
  #righteye {
    position: absolute;
    left: 20%;
    top: 20%;
  }
  
  #lefteye {
    position: absolute;
    left: 60%;
    top: 20%;
  }
  
  #nose {
    position: absolute;
    left: 45%;
    top: 50%;
    width: 10%;
    height: 10%;
    background-color: black;
  }
  
  #mouth {
    position: absolute;
    width: 65%;
    height: 15%;
    left: 20%;
    top: 70%;
    background-color: red;
  }
  
  #body {
    position: absolute;
    left: 25%;
    top: 35%;
    width: 45%;
    height: 55%;
    background-color: #dadada;
    text-align: center;
    padding-top: 30px;
  }
  
  #rightarm {
    position: absolute;
    left: 20%;
  }
  
  #leftarm {
    position: absolute;
    left: 70%;
    width: 25%;
    height: 10%;
  }
   */

   /******************************************************/

   #robot {
    margin-left:auto;
    margin-right:auto;
    /* width:100%; */
    /* position: absolute; */
}

body {
    font-family: "Comic Sans MS", cursive, sans‐serif;
    background-color: rgb(168, 219, 219);
}

.eye {
    background-color:rgb(49, 48, 48);
    width:25px;
    height:25px;
    border-radius: 50%;
    left: 40px;
}
.ear {
    background-color: grey;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    left: 40px;
}
.arm {
    background-color: grey;
    border: 2px solid black;
    position: absolute;
    top: 35%;
    width: 3%;
    height: 200px;
}
.leg {
    background-color: grey;
    border: 2px solid black;   
    position: absolute;
    top: 35%;
    width: 3%;
    height: 300px;
}
/* #hat {
    background-color: brown;
    height: 5%;
    width: 40%;
    position: absolute;
    left: 28%;
} */
#switch{
    position: absolute;
    border-radius: 50%;
    background-color: green;
    width:10%;
    height: 10%;
    left: 150px;
    top: 50px;
}
#switch2{
    position: absolute;
    border-radius: 50%;
    background-color: red;
    width:10%;
    height: 10%;
    left: 180px;
    top: 50px;
}

#middle{
    position: absolute;
    border: 2px solid black;
    width: 25px;
    height: 25px;
    border-radius: 45%;
    background-color: grey;
    left: 316px;
    top: 123px;
    
}
#bottom{
    position: absolute;
    border: 2px solid black;
    width: 8px;
    height: 40px;   
    background-color: grey;
    left: 325px;
    top: 150px;    
}

#head {
    width: 160px;
    height: 115px;
    border: 2px solid black;
    border-radius: 10%;
    background-color: grey;
    position: absolute;
    left: 250px;
    top: 175px;
}

#neck {
    border: 2px solid black;
    width: 25px;
    height: 5px;
    background-color: grey;
    position: absolute;
    left: 320px;
    top: 294px;
}
#righteye {
    position: absolute;
    left: 30px;
    top: 40px;
}
#lefteye {
    position: absolute;
    left: 60%;
    top: 40px;
}
#rightear {
position: absolute;
/* border-bottom-color: transparent;
  border-left-color: transparent; */
  left: 500px;
  top: 250px;
}
#leftear{
position: absolute;
border-radius: 50%;
left: 250px;
top: 250px;
}


#mouth {
    position: absolute;
    width: 40px;
    height:5px;
    left: 55px;
    top: 75px;
    background-color: rgb(49, 48, 48);
}
#body {
    position: absolute;
    border: 2px solid black;
    left:200px;
    top: 300px;
    width: 240px;
    height: 130px;
    background-color: grey;
    text-align:center;
    padding-top: 30px;
}

#rightarm {
    position:absolute;
    left:200px;
    width: 20px;
    height: 200px;
    top: 100px;
}
#rightleg {
    position:absolute;
    left:260px;
    width: 20px;
    height: 200px;
    top: 450px;
}
#leftarm {
    position: absolute;
    left: 442px;
    width: 200px;
    height: 20px;
    top: 300px;
}
#leftleg {
    position: absolute;
    left: 350px;
    width: 20px;
    height: 190px;
    top: 462px;
}




